body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: black;
    color: gold;
}

/* CENTER EVERYTHING */
.intro {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* BOX STYLE */
.center-box {
    text-align: center;
    background: #111;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 0 25px gold;
}

/* BUTTON STYLE */
.btn {
    display: inline-block;
    margin-top: 25px;
    padding: 12px 25px;
    background: gold;
    color: black;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
}

.btn:hover {
    background: orange;
}
