body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #000000, #1a1a1a);
    color: gold;
    text-align: center;
}

.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.intro-box {
    background: #111;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 0 20px gold;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 25px;
    background: gold;
    color: black;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
}

.btn:hover {
    background: orange;
}

.container {
    padding: 80px 20px;
}

.name {
    font-size: 40px;
}

.message {
    font-size: 20px;
    margin-top: 20px;
}

.cake {
    font-size: 60px;
    margin-top: 30px;
}
